.breadcrumbs {
	margin-block: 20px 30px;

	&__container {
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 4px 12px;
	}

	&__link {
		--_font-size: 14px;
		--_color: var(--dark-color);
		--_line-height: 1.2;
		--_border: 0;
		--_border-radius: 0;
		gap: 12px;

		&-icon {
			--_i-size: 8px;
		}

		&--mobile {
			display: none;
		}
	}

	&__text {
		font-size: 14px;
		color: var(--text-color);
	}
}