.custom-checkbox {
	@include custom-checkbox
}

.custom-checkbox--outline {

	.custom-checkbox__field {
		width: 22px;
		height: 22px;
		border-radius: 4px;
    border-color: #D7DDE3;

		&:checked {
			border-color: var(--background-gray);
			background-color: var(--background-gray);
		}
		
		&:invalid {
			background-color: var(--background-light);
      border-color: var(--primary-color);
    }
	}

	.custom-checkbox__checked {
    background-size: 12px 10px;
	}
}

.custom-checkbox--radio {
	gap: 16px;

	.custom-checkbox {

		&__field {
			width: 26px;
			height: 26px;
			border: 1px solid #D7DDE3;
			border-radius: 50%;

			&:checked {
				background-color: var(--primary-color);
				border-color: var(--primary-color);
			}
		}

		&__checked {
			background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 13" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.6332 0.226073C16.0607 0.5758 16.1237 1.20582 15.774 1.63327L6.77396 12.6333C6.59505 12.8519 6.33199 12.9847 6.04981 12.9988C5.76764 13.0129 5.49267 12.9069 5.29289 12.7071L0.292893 7.70714C-0.0976311 7.31661 -0.0976311 6.68345 0.292893 6.29292C0.683417 5.9024 1.31658 5.9024 1.70711 6.29292L5.92576 10.5116L14.226 0.366792C14.5758 -0.0606525 15.2058 -0.123655 15.6332 0.226073Z" fill="white" /></svg>');
		}

		&__content {
			font-size: 18px;
			font-weight: 700;
			color: var(--dark-color);
		}
	}

}