.customer {
	margin-block: 40px 80px;

	&-section {
		padding-block-end: 80px;

			&:first-child {
				padding-block-start: 40px;
			}

			&:last-child {
				padding-block-end: 0;
			}
	}

	&-breadcrumbs,
	&-header,
	&-header__title {
		margin-block-end: 40px;
	}

	&-header {

		&__text {

			font-size: 18px;
			font-weight: 500;
			line-height: 1.2;
			color: var(--dark-color);
		}
	}
}

.service-center {

	&__list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}

	&__item {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		background-color: var(--background-light);
		border-radius: 16px;
		padding: 30px;
	}

	&__title {
		font-size: 22px;
		font-weight: 500;
		line-height: 1;
		margin-block-end: 0;
	}

	&__info {
		display: grid;
		grid-template-columns: minmax(200px ,340px) 1fr;
		gap: 40px;
		border-top: 1px solid #D7DDE3;
		padding-block-start: 30px;
	}

	&__name {
		font-size: 22px;
		font-weight: 500;
		line-height: 1;
		margin-block-end: 0;
	}

	&__values {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.2;
		color: var(--text-color);
	
		&-item {
			display: grid;
			grid-template-columns: 135px 1fr;
			gap: 40px;
		}
	}

	&__value {
		color: var(--dark-color);
	}

	&__link {
		--_font-size: inherit;
		--_font-weight: inherit;
		--_line-height: inherit;
		--_color: inherit;
		--_border: 0;
		--_border-radius: 0;
	}
}

.guarantee {

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 12px;
	}

	&__item {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		background-color: var(--background-light);
		border-radius: 10px;
		padding: 30px 16px;
	}

	&__title {
		font-size: 22px;
		line-height: 1;
		margin-block-end: 0;
		text-align: center;
	}

	&__text {
		font-size: 18px;
		line-height: 1.2;
		margin-block-start: 40px;
		border-top: 1px solid #D7DDE3;
		padding-block-start: 40px;
	}

	&__info {
		font-size: 14px;
		line-height: 1.2;
		color: var(--dark-color);
		border-top: 1px solid #D7DDE3;
		padding-block-start: 30px;

		&-title {
			font-size: 16px;
			line-height: 1.5;
			text-align: center;
			margin-block-end: 8px;
		}

		&-text {
			font-family: var(--third-family);
			font-size: 14px;
			line-height: 1.2;
			color: var(--dark-color);
		}

		&-btn {
			--_font-weight: 500;
			--_color: var(--dark-color);
			--_border: 0;
			--_border-radius: 0;
			
			--_color-active: var(--primary-color);

			display: flex;
			align-items: baseline;
			margin: 30px auto 0;

			&-icon {
				--_i-size: 10px;
			}
		}

		&-list {
			font-family: var(--third-family);

			&-title {
				font-family: var(--font-family);
				font-weight: 500;
			}

			&-btn {
				font-family: var(--font-family);
				margin-block-start: 14px;
			}
		}
	}
}

.payment-page {
	border-top: 1px solid #D7DDE3;
	padding-block-start: 40px;

	&__title {
		font-size: 32px;
		line-height: 1;
		margin-block-end: 40px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 20px;
		background-color: var(--background-light);
		border-radius: 12px;
		padding: 20px;
		position: relative;

		&-picture {
			flex-shrink: 0;
		}

		&-image {
			width: 144px;
			height: 144px;
			flex-shrink: 0;
			object-fit: contain;
		}

		&-info {
			display: grid;
			grid-template-columns: 1fr;
			gap: 20px;
		}

		&-title {
			font-size: 22px;
			line-height: 1;
			margin-block-end: 0;
		}

		&-text {
			font-weight: 500;
			color: var(--dark-color);
			line-height: 1.2;
		}

		&-link {
			--_font-weight: 500;
			--_color: var(--dark-color);
			--_border: 0;
			--_border-radius: 0;
			
			--_color-active: var(--primary-color);

			&-icon {
				--_i-size: 10px;
			}
		}

		&-btn {
			--_border: 0;
			--_border-radius: 0;

			display: block;
			width: 100%;
			height: 100%;
			border-radius: inherit;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;

			&.is-active {

				~ .payment-page__item-info {

					.payment-page__item-link {
						--_color: var(--primary-color);
					}
				}
			}
		}
	}
}

.delivery-page {

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__item {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;

		background-color: var(--background-light);
		border-radius: 12px;
		padding: 30px 20px;

		&-list {
			list-style: disc;
			padding-inline-start: 24px;

			& > li::marker {
				font-size: 12px;
			}
		}

		&:last-child {
			grid-column: -1 / 1;
		}
	}

	&__item-list,
	&__text {
		font-weight: 500;
		line-height: 1.2;
		color: var(--dark-color);
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__title {
		font-size: 32px;
		line-height: 1;
		margin-block-end: 0;
	}

	&__icon {
		--_i-size: 60px;
		--_i-color: var(--primary-color);
		border: 2px solid #E2E5E9;
		border-radius: 50%;
		padding: 18px;
	}
}

.accordion-page {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 60px;

	&__title {
		font-size: 32px;
		line-height: 1;
		margin-block-end: 0;
	}

	&__inner {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		background-color: var(--background-light);
		border-radius: 10px;
		padding: 30px;

		&-title {
			font-size: 18px;
			line-height: 1;
			color: var(--primary-color);
			margin-block-end: 0;
		}
	}

	&__accordion {
		border-bottom: 1px solid #D7DDE3;
		
		&:not(:last-child) {
			margin-block: 0;
		}

		.accordion {

			&__title {
				display: flex;
				align-items: center;
				justify-content: space-between;

				font-size: var(--font-size);
				font-weight: 700;
				line-height: 1;
				color: var(--dark-color);
				padding-block: 20px;

				&-icon {
					--_i-size: 12px;
					flex-shrink: 0;
				}
			}

			&__content {
				padding-block: 0 20px;
			}
		}

		&[open] {

			.accordion {

				&__title {

					&-icon {
						transform: rotateX(180deg);
					}
				}
			}
		}
	}
}

.maintenance {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 80px;
	border-top: 1px solid #D7DDE3;
	padding-block-start: 60px;

	&__picture {
		display: block;
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 12px;
		object-fit: contain;
	}

	&__title {
		max-width: 600px;
		font-size: 32px;
		margin-block-end: 40px;
	}

	&__list {
		max-width: 580px;
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}

	&__item {
		display: flex;
		gap: 20px;

		&-icon,
		&-info {
			background-color: var(--background-gray);
			border-radius: 16px;
		}

		&-icon {
			--_i-size: 100px;
			padding: 30px;
			flex-shrink: 0;
		}

		&-info {
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-columns: 1fr;
			gap: 14px;
			align-content: center;
			padding: 16px 30px;
		}

		&-title {
			font-size: 18px;
			line-height: 1;
			margin-block-end: 0;
		}

		&-text {
			font-family: var(--third-family);
			font-weight: 500;
			line-height: 1;
		}
	}
}

.article-block {


	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);
		gap: 0 30px;

		& + & {
			margin-block-start: 120px;
		}

		&--reverse {

			.article-block__info {
				margin-inline-start: auto;
			}

			.article-block__picture {
				grid-column: 1 / 2;
			}
		}
	}

	&__title,
	&__descr {
		max-width: 600px;
	}

	&__title {
		font-size: 32px;
		align-self: flex-end;
		margin-block-end: 40px;
	}

	&__text {
		font-size: 22px;
		line-height: 1.2;
		color: var(--dark-color);
		margin-block: 0;
	}

	&__picture {
		display: block;
		grid-row: -1 / 1;
		grid-column: 2 / 3;
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 12px;
	}
}

.banner-block {

	&__inner {
		display: grid;
		grid-template-columns: .55fr .45fr;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-radius: 12px;
		padding: 30px;
	}

	&__info {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		color: var(--light-color);
	}

	&__title {
		font-size: 28px;
		color: inherit;
		margin-block-end: 0;
	}

	&__text {
		max-width: 500px;

		font-size: 18px;
		font-weight: 500;
		color: inherit;
	}

	&__btn {
		width: 100%;
		max-width: 270px;
	}
}

@media (hover: hover) {

	.accordion-page {

		&__accordion {

			.accordion {

				&__title {

					&-icon {
						transition: transform var(--transition-duration) var(--transition-type);
					}
				}
			}
		}
	}

	.payment-page {

		&__item {

			&-btn {

				&:is(:hover, :focus-visible, :active) {

					~ .payment-page__item-info {

						.payment-page__item-link {
							--_color: var(--primary-color);
						}
					}
				}
			}
		}
	}

}