.page__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--background-gray);
  border-radius: 16px;
  padding: 60px 30px;

  &-title {
    font-size: 36px;
    margin-block-end: 0;
  }

  &-text {
    max-width: 540px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--dark-color);
    text-align: center;

    &-btn {
      --_font-size: inherit;
      --_font-weight: inherit;
      --_line-height: inherit;
      --_color: var(--primary-color);
      --_border: 0;
      --_border-radius: 0;

      --_color-active: var(--dark-color);
    }
  }

  &-link {
    width: 100%;
    max-width: 270px;
  }
}