/* stylelint-disable */

@mixin custom-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__field {
    appearance: none;
    width: 40px;
    height: 40px;
    background-color: var(--background-light);
    border: 1px solid var(--background-light);
    border-radius: 12px;
    cursor: pointer;
    transition: background var(--transition-duration) var(--transition-type), border var(--transition-duration) var(--transition-type);

    &:checked {

      ~ .custom-checkbox__checked {
        opacity: 1;
      }
    }

    &:invalid {
      border-color: var(--primary-color);
    }
  }

  &__checked {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 13' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M15.6332 0.226073C16.0607 0.5758 16.1237 1.20582 15.774 1.63327L6.77396 12.6333C6.59505 12.8519 6.33199 12.9847 6.04981 12.9988C5.76764 13.0129 5.49267 12.9069 5.29289 12.7071L0.292893 7.70714C-0.0976311 7.31661 -0.0976311 6.68345 0.292893 6.29292C0.683417 5.9024 1.31658 5.9024 1.70711 6.29292L5.92576 10.5116L14.226 0.366792C14.5758 -0.0606525 15.2058 -0.123655 15.6332 0.226073Z' fill='black' /></svg>");
    background-position: center;
    background-size: 16px 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition-duration) var(--transition-type);
  }

  &__content {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--text-color-light);

    &-link {
      --_font-size: inherit;
      --_font-weight: inherit;
      --_line-height: inherit;
      --_color: var(--primary-color);
      --_border: 0;
      --_border-radius: 0;

      --_color-active: var(--dark-color);
    }
  }
}
