<div class="breadcrumbs">
	<div class="breadcrumbs__container container">
		<ul class="breadcrumbs__list list-reset">
			<li>
				<a href="./index.html" class="btn breadcrumbs__link">
					Главная
					<span class="icon breadcrumbs__link-icon">
						<svg>
							<use xlink:href="img/arrow-right-2.svg#svg-arrow-right-2"></use>
						</svg>
					</span>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="btn breadcrumbs__link">
					Каталог
					<span class="icon breadcrumbs__link-icon">
						<svg>
							<use xlink:href="img/arrow-right-2.svg#svg-arrow-right-2"></use>
						</svg>
					</span>
				</a>
			</li>
			<li>
				<a href="./catalog.html" class="btn breadcrumbs__link">
					Пылесос
					<span class="icon breadcrumbs__link-icon">
						<svg>
							<use xlink:href="img/arrow-right-2.svg#svg-arrow-right-2"></use>
						</svg>
					</span>
				</a>
			</li>
			<li>
				<span class="breadcrumbs__text">
					Вертикальный Пылесос Sate CT-200
				</span>
			</li>
		</ul>
		<a href="./catalog.html" class="btn breadcrumbs__link breadcrumbs__link--mobile">
			<span class="icon breadcrumbs__link-icon">
				<svg>
					<use xlink:href="img/arrow-left-2.svg#svg-arrow-left-2"></use>
				</svg>
			</span>
			Каталог
		</a>
	</div>
</div>