<section class="section cashback">
	<div class="container">
		<div class="cashback__header">
			<picture>
				<source srcset="./img/tbm.webp" type="image/webp">
				<img loading="lazy" src="./img/tbm.png" class="cashback__header-image image" alt="МРУС.КОМ">
			</picture>
			<div class="cashback__header-info">
				<h3 class="cashback__header-title">
					Воспользуйтесь преимуществами покупки на сайте компании М.РусКом
				</h3>
				<p class="cashback__header-text">
					Цепочка Производитель – Клиент всегда упростит как покупку, так и гарантийное обслуживание. Совершите покупки у официального дистрибутора Melitta и получите:
				</p>
			</div>
		</div>

		<ul class="cashback__advantages list-reset">
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
			<li>
				<article class="cashback__advantage">
					<span class="icon cashback__advantage-icon">
						<svg>
							<use xlink:href="img/truck.svg#svg-truck"></use>
						</svg>
					</span>
					<div>
						<h4 class="cashback__advantage-title">
							Экспресс доставка
						</h4>
						<p class="cashback__advantage-text">
							Надеженый помощник для дома
						</p>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>
