<section class="section favorite">
	<div class="container">
		<div class="border-top">
			<ul class="favorite__list list-reset">
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
				<li>
					<article class="favorite__list-card card" data-add-card="false">
						<div class="wrapper-slider">
							<div class="swiper swiper__card-image">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
									<div class="swiper-slide">
										<picture>
											<source srcset="./img/card-1.webp" type="image/webp">
											<img loading="lazy" src="../img/card-1.png" class="card__image image" width="180" height="250" alt="Фото">
										</picture>
									</div>
								</div>
								<div class="swiper-pagination swiper__card-image-pagination"></div>
							</div>
						</div>
						<a href="./card.html" class="card__header">
							<span class="card__header-article">
								SATE CT-200
							</span>
							<h4 class="card__header-title">
								Кофемашина с сенсорным экраном Sate СТ-200
							</h4>
						</a>
						<div class="card__detail">
							<div class="card__price price">
								<span class="price-main">
									46 990 ₽
								</span>
								<span class="price-sale">
									69 990 ₽
								</span>
								<span class="price-percentage">
									-30%
								</span>
							</div>
							<div class="card__split">
								<span class="card__split-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/split.svg#svg-split"></use>
										</svg>
									</span>
									<span>
										3500 ₽
									</span>
								</span>
								<p class="card__split-text">
									<span class="md-hidden">x 4 платежа</span> в Сплит
								</p>
							</div>
							<div class="card__yandex">
								<span class="card__yandex-badge">
									<span class="icon">
										<svg>
											<use xlink:href="img/yandex-plus.svg#svg-yandex-plus"></use>
										</svg>
									</span>
									<span>
										3500
									</span>
								</span>
								<p class="card__yandex-text">
									баллов плюса
								</p>
							</div>
						</div>
						<div class="card__buttons">
							<button type="button" class="btn btn-dark card__button btn--add" data-graph-path="modal-add-card">
								В корзину
							</button>
							<a href="#" class="btn btn-outline-primary btn--goto">
								Перейти в корзину
							</a>
							<div class="counter">
								<button class="btn counter__minus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/minus.svg#svg-minus"></use>
										</svg>
									</span>
								</button>
								<input type="text" name="counter" class="counter__input" inputmode="numeric" value="1">
								<button class="btn counter__plus">
									<span class="icon counter__icon">
										<svg>
											<use xlink:href="img/plus.svg#svg-plus"></use>
										</svg>
									</span>
								</button>
							</div>
							<button type="button" class="btn card__favorite is-active js-card-delete">
								<span class="icon">
									<svg>
										<use xlink:href="img/favorite.svg#svg-favorite"></use>
									</svg>
								</span>
							</button>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</section>