<footer class="footer">
  <div class="footer-top">
    <div class="container footer-top__container">
      <div class="footer-top__header">
        <div class="footer-top__logo logo">
          <img src="./img/logo.svg" width="220" loading="lazy" alt="МРУС.КОМ">
        </div>
        <div class="footer-top__callback callback">
          <a href="tel:+88126777939" class="callback__number">+8 (812) 677-79-39</a>
          <span class="callback__text">Заказать обратный звонок</span>
          <span class="callback__date">пн - пт 9:30 - 17:00. Сб и вс - выходные дни</span>
        </div>
        <div class="footer-top__callback callback">
          <a href="mailto:m-ruscom@m-ruscom.ru" class="callback__number">m-ruscom@m-ruscom.ru</a>
          <span class="callback__date">Для вопросов и предложений</span>
        </div>
      </div>

      <div class="footer-top__detail">
        <ul class="footer-top__list list-reset">
          <li>
            <h3 class="footer-top__list-title">
              Каталог
            </h3>
          </li>
          <li>
            <ul class="footer-top__list-inner list-reset">
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Кофемашины
                </a>
              </li>
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Отпареватели
                </a>
              </li>
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Кофеварки
                </a>
              </li>
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Сушилки для овощей
                </a>
              </li>
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Мясорубки
                </a>
              </li>
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Аксессуары
                </a>
              </li>
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Пылесосы
                </a>
              </li>
              <li>
                <a href="./catalog.html" class="btn footer-top__list-link">
                  Расходники
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="footer-top__list list-reset">
          <li>
            <h3 class="footer-top__list-title">
              Покупателям
            </h3>
          </li>
          <li>
            <a href="./guarantee.html" class="btn footer-top__list-link">
              Гарантия
            </a>
          </li>
          <li>
            <a href="./service-center.html" class="btn footer-top__list-link">
              Сервисные центры
            </a>
          </li>
          <li>
            <a href="./payment-and-delivery.html" class="btn footer-top__list-link">
              Оплата и доставка
            </a>
          </li>
        </ul>

        <ul class="footer-top__list list-reset">
          <li>
            <h3 class="footer-top__list-title">
              Новости
            </h3>
          </li>
          <li>
            <a href="./news.html" class="btn footer-top__list-link">
              Все новости
            </a>
          </li>
          <li>
            <a href="./news.html" class="btn footer-top__list-link">
              Лайфхаки
            </a>
          </li>
          <li>
            <a href="./news.html" class="btn footer-top__list-link">
              Обзоры
            </a>
          </li>
        </ul>

        <ul class="footer-top__list list-reset">
          <li>
            <h3 class="footer-top__list-title">
              Бренды
            </h3>
          </li>
          <li>
            <a href="./brand.html" class="btn footer-top__list-link">
              Sate
            </a>
          </li>
          <li>
            <a href="./brand.html" class="btn footer-top__list-link">
              Melitta
            </a>
          </li>
          <li>
            <a href="./brand.html" class="btn footer-top__list-link">
              Roma
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="footer-bottom">
    <div class="container footer-bottom__container">
      <div>
        <ul class="footer-bottom__detail list-reset">
          <li class="footer-bottom__detail-item">
            <span class="footer-bottom__detail-span">
              ООО «М.РусКом»
            </span>
          </li>
          <li class="footer-bottom__detail-item">
            <span class="footer-bottom__detail-span">
              ИНН 7810474065 КПП 781001001
            </span>
          </li>
          <li class="footer-bottom__detail-item">
            <span class="footer-bottom__detail-span">
              ОГРН 1147847039890
            </span>
          </li>
        </ul>
        <p class="footer-bottom__copy">
          © 2024 МРусКом. Все авторские права защищены.
        </p>
      </div>
      <ul class="footer-bottom__list list-reset">
        <li>
          <a href="./terms-of-use.html" class="btn footer-bottom__link">
            Условия использования сервиса
          </a>
        </li>
        <li>
          <a href="#" class="btn footer-bottom__link">
            Политика обработки персональных данных
          </a>
        </li>
        <li>
          <a href="#" class="btn footer-bottom__link">
            Политика в отношении файлов Cookie
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>