<header id="header" class="header fixed-block">
  <div class="container">
    <div class="header__top">
      <button type="button" class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>

      <a href="index.html" class="header__logo logo">
        <img src="./img/logo.svg" loading="lazy" width="146" alt="МРУС.КОМ">
      </a>
      <div class="header__top-menu">
        <div class="header__location">
          <button type="button" class="btn js-location location header__location-btn">
            <span class="icon header__location-icon">
              <svg>
                <use xlink:href="img/location.svg#svg-location"></use>
              </svg>
            </span>
            <span class="header__location-text location__text">
              Москва
            </span>
          </button>

          <div data-da="#header,1024,last" class="location__dropdown">
            <div class="location__dropdown-header">
              <button type="button" class="btn location__dropdown-close">
                <span class="icon location__dropdown-close--desktop">
                  <svg>
                    <use xlink:href="img/close.svg#svg-close"></use>
                  </svg>
                </span>
                <span class="icon location__dropdown-close--mobile">
                  <svg>
                    <use xlink:href="img/arrow-left-2.svg#svg-arrow-left-2"></use>
                  </svg>
                </span>
              </button>
          
              <span class="location__dropdown-header-title">
                Выберите город
              </span>
          
              <a href="./cart.html" class="btn account__button">
                <span class="icon">
                  <svg>
                    <use xlink:href="./img/cart.svg#svg-cart"></use>
                  </svg>
                </span>
              </a>
            </div>
            <form class="search-validate location__dropdown-form">
              <div class="wrapper-field">
                <div class="wrapper-field__inner">
                  <input type="text" class="field location__dropdown-field" name="city" placeholder="Ваш город" required>
                  <span class="field__placeholder">
                    Ваш город<span class="field__placeholder-required">*</span>
                  </span>
                </div>
              </div>
            </form>
            <ul class="location__dropdown-list list-reset">
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Москва
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Санкт-Петербург
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Барнаул
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Брянск
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владимир
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владивосток
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Воронеж
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Москва
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Санкт-Петербург
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Барнаул
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Брянск
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владимир
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владивосток
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Воронеж
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Москва
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Санкт-Петербург
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Барнаул
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Брянск
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владимир
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владивосток
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Воронеж
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Москва
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Санкт-Петербург
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Барнаул
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Брянск
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владимир
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Владивосток
                </button>
              </li>
              <li>
                <button type="button" class="btn location__dropdown-item">
                  Воронеж
                </button>
              </li>
            </ul>
          </div>

          <div data-da="#header,1024,last" class="alert alert--location">
            <div class="alert__container container">
              <div id="alertLocation" class="alert__modal">
                <h3 class="alert__modal-title">
                  Ваш город, Москва?
                </h3>
                <div class="alert__modal-buttons">
                  <button type="button" class="btn btn-outline-secondary js-location js-alert-close">
                    Изменить
                  </button>
                  <button type="button" class="btn btn-dark alert--location-success js-alert-close">
                    Подтвердить
                  </button>
                </div>
                <button type="button" class="btn alert__modal-close js-alert-close">
                  <span class="icon alert__modal-close-icon">
                    <svg>
                      <use xlink:href="img/close.svg#svg-close"></use>
                    </svg>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div data-da="#headerMenuFooter,1024,first" class="header__callback callback">
          <a href="tel:+88126777939" class="callback__number">
            +8 (812) 677-79-39
          </a>
          <button type="button" class="btn callback__btn" data-graph-path="modal-callback">
            Заказать обратный звонок
          </button>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <nav data-da="#headerMenuMain,1024,first" class="header__nav">
        <ul class="header__bottom-menu list-reset">
          <li class="header__bottom-menu-item">
            <a href="./catalog.html" class="btn header__bottom-menu-link">
              Каталог
            </a>
          </li>
          <li class="header__bottom-menu-item header__dropdown">
            <button class="btn header__dropdown-btn">
              Покупателям
              <span class="icon">
                <svg>
                  <use xlink:href="./img/arrow-down.svg#svg-arrow-down"></use>
                </svg>
              </span>
            </button>
            <div class="header__dropdown-menu">
              <div class="header__menu-header">
                <button type="button" class="btn header__dropdown-close">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/arrow-left-2.svg#svg-arrow-left-2"></use>
                    </svg>
                  </span>
                </button>

                <span class="header__menu-header-title">
                  Покупателям
                </span>

                <a href="./cart.html" class="btn account__button">
                  <span class="icon">
                    <svg>
                      <use xlink:href="./img/cart.svg#svg-cart"></use>
                    </svg>
                  </span>
                </a>
              </div>
              <ul class="header__dropdown-list list-reset">
                <li>
                  <a href="./service-and-maintenance.html" class="btn header__dropdown-link">
                    СЕРВИСЫ И ОБСЛУЖИВАНИЕ
                  </a>
                </li>
                <li>
                  <a href="./payment-and-delivery.html" class="btn header__dropdown-link">
                    ДОСТАВКА И ОПЛАТА
                  </a>
                </li>
                <li>
                  <a href="./service-center.html" class="btn header__dropdown-link">
                    СЕРВИСНЫЕ ЦЕНТРЫ
                  </a>
                </li>
                <li>
                  <a href="./guarantee.html" class="btn header__dropdown-link">
                    ГАРАНТИЯ
                  </a>
                </li>
              </ul>
              <div class="header__menu-location">
                <button type="button" class="btn js-location location">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/location-solid.svg#svg-location-solid"></use>
                    </svg>
                  </span>
                  <span class="location__text">
                    Москва
                  </span>
                </button>
              </div>
              <div class="header__menu-footer">
                <div class="header__callback callback">
                  <a href="tel:+88126777939" class="callback__number">+8 (812) 677-79-39</a>
                  <span class="callback__text">Заказать обратный звонок</span>
                </div>
              </div>
            </div>
          </li>
          <li class="header__bottom-menu-item header__dropdown">
            <button class="btn header__dropdown-btn">
              Бренды
              <span class="icon">
                <svg>
                  <use xlink:href="./img/arrow-down.svg#svg-arrow-down"></use>
                </svg>
              </span>
            </button>
            <div class="header__dropdown-menu">
              <div class="header__menu-header">
                <button type="button" class="btn header__dropdown-close">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/arrow-left-2.svg#svg-arrow-left-2"></use>
                    </svg>
                  </span>
                </button>

                <span class="header__menu-header-title">
                  Бренды
                </span>

                <a href="./cart.html" class="btn account__button">
                  <span class="icon">
                    <svg>
                      <use xlink:href="./img/cart.svg#svg-cart"></use>
                    </svg>
                  </span>
                </a>
              </div>
              <ul class="header__dropdown-list list-reset">
                <li>
                  <a href="./brand.html" class="btn header__dropdown-link">
                    SATE
                  </a>
                </li>
                <li>
                  <a href="./brand.html" class="btn header__dropdown-link">
                    MELITTA
                  </a>
                </li>
                <li>
                  <a href="./brand.html" class="btn header__dropdown-link">
                    ROOMA
                  </a>
                </li>
              </ul>
              <div class="header__menu-location">
                <button type="button" class="btn js-location location">
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/location-solid.svg#svg-location-solid"></use>
                    </svg>
                  </span>
                  <span class="location__text">
                    Москва
                  </span>
                </button>
              </div>
              <div class="header__menu-footer">
                <div class="header__callback callback">
                  <a href="tel:+88126777939" class="callback__number">+8 (812) 677-79-39</a>
                  <span class="callback__text">Заказать обратный звонок</span>
                </div>
              </div>
            </div>
          </li>
          <li class="header__bottom-menu-item">
            <a href="./about.html" class="btn header__bottom-menu-link">
              О нас
            </a>
          </li>
          <li class="header__bottom-menu-item">
            <a href="./contacts.html" class="btn header__bottom-menu-link">
              Контакты
            </a>
          </li>
          <li class="header__bottom-menu-item">
            <a href="./news.html" class="btn header__bottom-menu-link">
              Новости
            </a>
          </li>
          <li class="header__bottom-menu-item header__bottom-menu-item--table">
            <a href="./favorite.html" class="btn header__bottom-menu-link">
              Избранное
              <span class="account__current header__bottom-menu-link--current">
                22
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <ul class="header__account account list-reset">
        <li class="header__search-wrapper">
          <form class="header__search search">
            <div class="search__wrapper">
              <button type="submit" class="btn search__btn">
                <span class="icon">
                  <svg>
                    <use xlink:href="./img/search.svg#svg-search"></use>
                  </svg>
                </span>
              </button>
              <input type="text" class="search__field field" placeholder="Введите название товара" maxlength="32">

              <div class="search__dropdown">
                <div class="search__dropdown-inner">
                  <div class="search__last">
                    <h3 class="search__dropdown-title">
                      Последние запросы
                    </h3>
                    <ul class="search__dropdown-list list-reset">
                      <li>
                        <a href="./card.html" class="btn search__dropdown-link">
                          Кофемашина CТ-200
                        </a>
                      </li>
                      <li>
                        <a href="./catalog.html" class="btn search__dropdown-link">
                          Мясорубка
                        </a>
                      </li>
                      <li>
                        <a href="./catalog.html" class="btn search__dropdown-link">
                          Отпариватель Melitta
                        </a>
                      </li>
                      <li>
                        <a href="./brand.html" class="btn search__dropdown-link">
                          sate
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="search__card">
                    <h3 class="search__dropdown-title">
                      Товары
                    </h3>
                    <ul class="search__dropdown-list list-reset">
                      <li>
                        <a href="./card.html" class="card-search">
                          <div class="card-search__picture">
                            <picture>
                              <source srcset="./img/card-1.webp" type="image/webp">
                              <img loading="lazy" src="./img/card-1.png" class="card-search__image image" width="60" height="60" alt="">
                            </picture>
                          </div>
                          <div class="card-search__info">
                            <h4 class="card-search__title">
                              Автоматическая кофемашина Sate СТ-200
                            </h4>
                            <div class="price card-search__price">
                              <span class="price-main">
                                46 990 ₽
                              </span>
                              <span class="price-sale">
                                69 990 ₽
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="./card.html" class="card-search">
                          <div class="card-search__picture">
                            <picture>
                              <source srcset="./img/card-1.webp" type="image/webp">
                              <img loading="lazy" src="./img/card-1.png" class="card-search__image image" width="60" height="60" alt="">
                            </picture>
                          </div>
                          <div class="card-search__info">
                            <h4 class="card-search__title">
                              Автоматическая кофемашина Sate СТ-200
                            </h4>
                            <div class="price card-search__price">
                              <span class="price-main">
                                46 990 ₽
                              </span>
                              <span class="price-sale">
                                69 990 ₽
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="./card.html" class="card-search">
                          <div class="card-search__picture">
                            <picture>
                              <source srcset="./img/card-1.webp" type="image/webp">
                              <img loading="lazy" src="./img/card-1.png" class="card-search__image image" width="60" height="60" alt="">
                            </picture>
                          </div>
                          <div class="card-search__info">
                            <h4 class="card-search__title">
                              Автоматическая кофемашина Sate СТ-200
                            </h4>
                            <div class="price card-search__price">
                              <span class="price-main">
                                46 990 ₽
                              </span>
                              <span class="price-sale">
                                69 990 ₽
                              </span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="search__news">
                    <h3 class="search__dropdown-title">
                      Статьи
                    </h3>
                    <ul class="search__dropdown-list list-reset">
                      <li>
                        <a href="./article.html" class="card-news">
                          <div class="card-news__picture">
                            <picture>
                              <source srcset="./img/news-mini-1.webp" type="image/webp">
                              <img loading="lazy" src="./img/news-mini-1.jpg" class="card-news__image image" width="60" height="60" alt="">
                            </picture>
                          </div>
                          <div class="card-news__info">
                            <time datetime="2024-01-22" class="card-news__time">
                              22 янв 2024
                            </time>
                            <h4 class="card-news__title">
                              Обзор кофемашины Sate СТ-200 с автоматическим капучинатором
                            </h4>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="./article.html" class="card-news">
                          <div class="card-news__picture">
                            <picture>
                              <source srcset="./img/news-mini-1.webp" type="image/webp">
                              <img loading="lazy" src="./img/news-mini-1.jpg" class="card-news__image image" width="60" height="60" alt="">
                            </picture>
                          </div>
                          <div class="card-news__info">
                            <time datetime="2024-01-22" class="card-news__time">
                              22 янв 2024
                            </time>
                            <h4 class="card-news__title">
                              Обзор кофемашины Sate СТ-200 с автоматическим капучинатором
                            </h4>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn search__btn account__button">
              <span class="icon">
                <svg>
                  <use xlink:href="./img/search.svg#svg-search"></use>
                </svg>
              </span>
            </button>
          </form>
        </li>
        <li class="header__account-favorite">
          <a href="./favorite.html" class="btn account__button">
            <span class="icon">
              <svg>
                <use xlink:href="./img/favorite.svg#svg-favorite"></use>
              </svg>
            </span>
            <span class="account__current">
              22
            </span>
          </a>
        </li>
        <li class="header__account-account">
          <a href="./account.html" class="btn account__button">
            <span class="icon">
              <svg>
                <use xlink:href="./img/account.svg#svg-account"></use>
              </svg>
            </span>
            <span class="account__name">
              Даниил
            </span>
          </a>
        </li>
        <li>
          <a href="./cart.html" class="btn account__button">
            <span class="icon">
              <svg>
                <use xlink:href="./img/cart.svg#svg-cart"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="header__menu fixed-block" data-menu>
      <div class="header__menu-header">
        <button type="button" class="btn-reset burger burger--active" aria-label="Открыть меню" aria-expanded="false" data-burger-close>
          <span class="burger__line"></span>
        </button>

        <a href="./cart.html" class="btn account__button">
          <span class="icon">
            <svg>
              <use xlink:href="./img/cart.svg#svg-cart"></use>
            </svg>
          </span>
        </a>
      </div>
      <ul class="header__menu-signin list-reset">
        <li class="header__menu-signin-item">
          <a href="./signin.html" class="btn header__menu-signin-link">
            Войти
            <span class="icon">
              <svg>
                <use xlink:href="./img/account.svg#svg-account"></use>
              </svg>
            </span>
          </a>
        </li>
      </ul>
      <div id="headerMenuMain" class="header__menu-main"></div>
      <div class="header__menu-location">
        <button type="button" class="btn js-location location">
          <span class="icon">
            <svg>
              <use xlink:href="img/location-solid.svg#svg-location-solid"></use>
            </svg>
          </span>
          <span class="location__text">
            Москва
          </span>
        </button>
      </div>
      <div id="headerMenuFooter" class="header__menu-footer"></div>
    </div>
  </div>
  <div data-menu-overlay="false"></div>
</header>