<section class="section-hero section">
	<div class="wrapper-slider">
		<div class="swiper swiper__hero">
			<div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero" style="background-image: url('./img/eco.png')">
            <div class="hero__inner hero__inner_left">
              <h2 class="hero__title hero__text_dark h1">
                Забота об <span class="hero__accent">экологии</span>
              </h2>
              <p class="hero__text hero__text_dark">
                Выгодные предложения на товары с поврежденной упаковкой и товары, бывшие в употреблении. Подробнее об акциях вы можете уточнить у консультанта по телефону: <a href="tel:+79119258837">+7 911 925-88-37</a>
              </p>
              <a href="#" class="btn hero__btn hero__text_dark">
                Подробнее
                <span class="icon">
                  <svg>
                    <use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
				<div class="swiper-slide">
					<div class="hero" style="background-image: url('./img/1994.png')">
						<div class="hero__inner">
							<h2 class="hero__title h1">
								М.РусКом первые с Melitta с <span class="hero__accent">1994 года</span>
							</h2>
							<p class="hero__text">
								Верны сами себе: все, что связано с кофе, является приоритетом компании!
							</p>
							<!-- <a href="#" class="btn hero__btn">
								ПОДРОБНЕЕ
								<span class="icon">
									<svg>
										<use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
									</svg>
								</span>
							</a> -->
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="hero" style="background-image: url('./img/guarant.png')">
						<div class="hero__inner">
							<h2 class="hero__title h1">
								Гарантия от производителя <span class="hero__accent">Melitta</span>
							</h2>
							<p class="hero__text">
								М.РусКом — единственная компания в России с квалифицированными сервисными инженерами, прошедшими обучение от Melitta, оригинальными запчастями и точной диагностикой. Всё это и многое другое для клиентов Melitta
							</p>
							<!-- <a href="#" class="btn hero__btn">
								ПОДРОБНЕЕ
								<span class="icon">
									<svg>
										<use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
									</svg>
								</span>
							</a> -->
						</div>
					</div>
				</div>
				<!-- <div class="swiper-slide">
					<div class="hero" style="background-image: url('./img/main-bg-4.jpg')">
						<div class="hero__inner">
							<h2 class="hero__title h1">
								Новая коллекция
							</h2>
							<p class="hero__text">
								Выгодные предложения на товары новой коллекции Sate
							</p>
							<a href="#" class="btn hero__btn">
								Подробнее
								<span class="icon">
									<svg>
										<use xlink:href="img/arrow-top-right.svg#svg-arrow-top-right"></use>
									</svg>
								</span>
							</a>
						</div>
					</div>
				</div> -->
			</div>
		</div>

		<div class="hero__container container">
			<div class="swiper__hero-button">
				<div class="swiper-button-prev swiper__hero-prev">
					<button type="button" class="btn wrapper-slider-btn">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</div>
				<div class="swiper-button-next swiper__hero-next">
					<button type="button" class="btn wrapper-slider-btn">
						<span class="icon">
							<svg>
								<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
							</svg>
						</span>
					</button>
				</div>
			</div>
		</div>

		<div class="swiper-pagination swiper__hero-pagination"></div>
	</div>
</section>
