<section class="section section-mailing">
	<div class="container">
		<article class="mailing">
			<div class="mailing__info">
				<h2 class="mailing__info-title">
					Промокод на 10% скидку
				</h2>
				<p class="mailing__info-text">
					Подпишитесь на рассылку и узнавайте первым о новинках и новостях. Так же получите промокод с 10% скидкой на любую покупку
				</p>
			</div>
			<form action="#" class="mailing__form">
				<input type="email" name="email" class="mailing__form-field field" placeholder="E-mail" maxlength="36" required>
				<label class="mailing__form-checkbox custom-checkbox">
					<div class="custom-checkbox__wrapper">
						<input type="checkbox" class="custom-checkbox__field" checked required>
						<span class="custom-checkbox__checked"></span>
					</div>
					<span class="custom-checkbox__content">Я ознакомился с политикой конфиденциальности</span>
				</label>
				<button type="submit" class="btn btn-dark btn-dark-lg mailing__form-button">
					Подписаться
				</button>
			</form>
		</article>
	</div>
</section>