<div class="rating">
	<div class="rating__stars">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1" checked>
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
		<input type="radio" name="star" class="rating__stars-input" tabindex="-1">
	</div>
	<span class="rating__text">
		Отзывов (10)
	</span>
	<span class="rating__current">
		(10)
	</span>
</div>