<section class="section">
	<div class="container">
		<div class="section__header">
			<h3 class="h2 section__title">
				Новые технологии
			</h3>
		</div>
		<div class="border-top"></div>
	</div>
	<div class="wrapper-slider wrapper-slider--full wrapper-slider--full-md-up">
		<div class="swiper swiper__tech">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<article class="tech" style="background-image: image-set( url('./img/tech-1.webp') type('image/webp'), url('./img/tech-1.png') type('image/png') );">
						<a href="#" class="tech__link"></a>
						<div class="tech__detail">
							<h4 class="tech__detail-title">
								Больше Пара
							</h4>
							<p class="tech__detail-text">
								Lorem ipsum dolor sit amet consectetur. Mauris et sagittis et condimentum urna suspendisse quisque. Sagittis etiam massa egestas posuere risus etiam 
							</p>
							<button type="button" class="btn tech__detail-btn">
								перейти к товару
							</button>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="tech tech--dark" style="background-image: image-set( url('./img/tech-2.webp') type('image/webp'), url('./img/tech-2.png') type('image/png') );">
						<a href="#" class="tech__link"></a>
						<div class="tech__detail">
							<h4 class="tech__detail-title">
								Больше Пара
							</h4>
							<p class="tech__detail-text">
								Lorem ipsum dolor sit amet consectetur. Mauris et sagittis et condimentum urna suspendisse quisque. Sagittis etiam massa egestas posuere risus etiam 
							</p>
							<button type="button" class="btn tech__detail-btn">
								перейти к товару
							</button>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="tech" style="background-image: image-set( url('./img/tech-1.webp') type('image/webp'), url('./img/tech-1.png') type('image/png') );">
						<a href="#" class="tech__link"></a>
						<div class="tech__detail">
							<h4 class="tech__detail-title"> 
								Больше Пара 
							</h4>
							<p class="tech__detail-text">
								Lorem ipsum dolor sit amet consectetur. Mauris et sagittis et condimentum urna suspendisse quisque. Sagittis etiam massa egestas posuere risus etiam 
							</p>
							<button type="button" class="btn tech__detail-btn">
								перейти к товару
							</button>
						</div>
					</article>
				</div>
				<div class="swiper-slide">
					<article class="tech tech--dark" style="background-image: image-set( url('./img/tech-3.webp') type('image/webp'), url('./img/tech-3.png') type('image/png') );">
						<a href="#" class="tech__link"></a>
						<div class="tech__detail">
							<h4 class="tech__detail-title">
								Больше Пара
							</h4>
							<p class="tech__detail-text">
								Lorem ipsum dolor sit amet consectetur. Mauris et sagittis et condimentum urna suspendisse quisque. Sagittis etiam massa egestas posuere risus etiam 
							</p>
							<button type="button" class="btn tech__detail-btn">
								перейти к товару
							</button>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev swiper__tech-prev">
			<button type="button" class="btn wrapper-slider-btn">
				<span class="icon">
					<svg class="">
						<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
					</svg>
				</span>
			</button>
		</div>
		<div class="swiper-button-next swiper__tech-next">
			<button type="button" class="btn wrapper-slider-btn">
				<span class="icon">
					<svg class="">
						<use xlink:href="img/arrow-right.svg#svg-arrow-right"></use>
					</svg>
				</span>
			</button>
		</div>
		<div class="swiper-pagination swiper__tech-pagination"></div>
	</div>
</section>