// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/typography";
@import "./components/buttons";
@import "./components/icon";
@import "./components/field";
@import "./components/burger";
@import "./components/accordion";
@import "./components/callback";
@import "./components/dropdown";
@import "./components/search";
@import "./components/sections";
@import "./components/banner";
@import "./components/price";
@import "./components/alert";
@import "./components/cookie";
@import "./components/counter";
@import "./components/breadcrumbs";
@import "./components/rating";
@import "./components/modal";
@import "./components/overlay";
@import "./components/swipers";
@import "./components/card";
@import "./components/checkbox";
@import "./components/tabs";
@import "./components/pagination";
@import "./components/page-empty";
@import "./components/list";
@import "./components/location";
@import "./components/review";
@import "./components/choices";
@import "./components/header";
@import "./components/hero";
@import "./components/category";
@import "./components/cashback";
@import "./components/tech";
@import "./components/news";
@import "./components/mailing";
@import "./components/catalog";
@import "./components/product";
@import "./components/favorite";
@import "./components/cart";
@import "./components/order";
@import "./components/customer";
@import "./components/contacts";
@import "./components/about";
@import "./components/brand";
@import "./components/account";
@import "./components/article";
@import "./components/terms";
@import "./components/footer";
@import "./components/media";
